
 <!-- Article -->
 <article class="overflow-hidden rounded">

  <a class="cursor-default h-full w-full" >
    <img  src="./assets/file3.png" class="h-full w-full"
    type="application/pdf">
  </a>

  <footer class="h-full break-words border-solid">
      <a class="hover:no-underline cursor-default items-center no-underline text-black text-center break-words">
          <p class="text-blue-900 text-sm ">
            {{ documento.created | date: 'dd-MM-YYYY' : 'UTC'  }}
          </p>
          <br>
          <p class="h-auto break-words text-blue-900">
            {{ documento.nameDocument}}
          </p>

      </a>
      <br>
      <p (click)="restore()"
         matTooltip="El documento se restaurará"
         matTooltipClass="example-tooltip-blue"
         matTooltipPosition="right"
         class="text-white bg-blue-600 cursor-pointer hover:bg-blue-700 hover:no-underline py-2">
         Restaurar</p>

      <p (click)="eliminar()"
         matTooltip="El documento se eliminara permanentemente"
         matTooltipClass="example-tooltip-red"
         matTooltipPosition="below"
         class="text-white bg-red-600 cursor-pointer hover:bg-red-700 hover:no-underline py-2">
         Eliminar</p>

  </footer>

</article>

