<div class="container mx-auto flex h-screen">

  <div autocomplete="off" class="m-auto grid grid-cols-12 gap-2 content-center w-full h-full py-10 text-center shadow-lg">

    <div class="col-span-6 gap-2 col-start-4 my-4">
      <label for="nombre" class="block text-sm font-medium text-gray-700">
          Nombre
      </label>
      <input type="email"
      [(ngModel)]="usuario.name"
      class="outline-none rounded py-1 px-2 w-full h-full bg-white shadow-md text-sm text-center text-gray-700 placeholder-gray-400 focus:outline-none focus:shadow-outline">
    </div>

    <div class="col-span-6 gap-2 col-start-4 my-4">
      <label for="email" class="block text-sm font-medium text-gray-700">
          Email
      </label>
      <input type="email"
      [(ngModel)]="usuario.email"
      class="outline-none rounded py-1 px-2 w-full h-full bg-white shadow-md text-sm text-center text-gray-700 placeholder-gray-400 focus:outline-none focus:shadow-outline">
    </div>


    <div class="col-span-6 gap-2 col-start-4 my-4">
      <label for="password" class="block text-sm font-medium text-gray-700">
          Contraseña
      </label>
      <input type="password"
      class="outline-none rounded py-1 px-2 w-full h-full bg-white shadow-md text-sm text-center text-gray-700 placeholder-gray-400 focus:outline-none focus:shadow-outline">
    </div>

    <div class="col-span-6 gap-2 col-start-4 my-4">
      <label for="email" class="block text-sm font-medium text-gray-700">
          Estado
      </label>
      <input type="text"
      [(ngModel)]="usuario.estado"
      class="outline-none rounded py-1 px-2 w-full h-full bg-white shadow-md text-sm text-center text-gray-700 placeholder-gray-400 focus:outline-none focus:shadow-outline">
    </div>

    <div class="col-span-6 col-start-4 my-4">

      <button class="mr-1 px-5 inline-flex justify-center py-2 items-center border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-400 hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 ">
        Actualizar
      </button>

    </div>

  </div>



</div>
