
<app-header></app-header>

<div class="container mx-auto">
  <form class="grid grid-cols-12 gap-2 w-full h-full py-10 my-4 text-center border-2 border-blue-100" *ngIf="isMyFile">

    <div class="col-span-2 sm:self-center">
      <label class="text-red-700 items-center text-sm font-medium block"> Favorito  </label>
      <mat-icon
       (click)="updateFav()"
       class="text-red-700">{{favorito}}</mat-icon>

    </div>

    <div class="col-span-2 sm:self-center">
      <label class="text-yellow-500 items-center text-sm font-medium block"> Publico  </label>
      <mat-icon
       (click)="updatePublic()"
       class="text-yellow-500">{{publico}}</mat-icon>

    </div>

    <div class="col-span-2 sm:self-center">
      <label class="text-blue-500 items-center text-sm font-medium block"> Mover a Papelera  </label>
      <mat-icon
       (click)="updateState()"
       class="text-blue-500">{{state}}</mat-icon>

    </div>

  </form>

  <div class="grid grid-cols-12 gap-2 w-full h-full py-10 text-center border-2 border-blue-100">

    <ng-template [ngIf]="esImagen" [ngIfElse]="loggedOut">
      <div class="col-start-4 col-span-6 shadow-lg">
        <img  [src]="url | safeUrl" class="h-full w-full"
        type="application/pdf">
      </div>
    </ng-template>

    <ng-template #loggedOut>
      <div class="col-span-12 shadow-lg">
        <embed  [src]="url | safeUrl" class="h-screen w-full"
        type="application/pdf">
      </div>
    </ng-template>


  </div>

</div>


