<div class="container mx-auto flex h-screen">

  <form autocomplete="off" [formGroup]="forma" (ngSubmit)="login()" class="m-auto grid grid-cols-12 gap-2 content-center w-full h-full py-10 text-center shadow-lg">

    <div class="col-span-6 gap-2 col-start-4 my-4">
      <label for="email" class="block text-sm font-medium text-gray-700">
          Email
      </label>

      <input type="email"
      formControlName="email"
      class="outline-none rounded py-1 px-2 w-full h-full bg-white shadow-md text-sm text-center text-gray-700 placeholder-gray-400 focus:outline-none focus:shadow-outline"
      [ngClass]="forma.get('email')!.invalid && forma.get('email')!.touched ? 'border-2 border-red-100 text-red-800' : 'border-2 border-green-200 text-green-600'">
    </div>

    <div *ngIf="forma.get('email')!.invalid && forma.get('email')!.touched" class="col-span-6 gap-2 col-start-4">
      <label for="email" class="text-xs font-light text-red-700">
          El email es invalido
      </label>
    </div>



    <div class="col-span-6 gap-2 col-start-4 my-4">
      <label for="email" class="block text-sm font-medium text-gray-700">
          Contraseña
      </label>
      <input type="password"
      formControlName="password"
      class="outline-none rounded py-1 px-2 w-full h-full bg-white shadow-md text-sm text-center text-gray-700 placeholder-gray-400 focus:outline-none focus:shadow-outline"
      [ngClass]="forma.get('password')!.invalid && forma.get('email')!.touched ? 'border-2 border-red-200 text-red-800' : 'border-2 border-green-200 text-green-600'">
    </div>

    <div *ngIf="forma.get('password')!.invalid && forma.get('password')!.touched" class="col-span-6 gap-2 col-start-4">
      <label for="email" class="text-xs font-light text-red-700">
          La contraseña debe contener 6 caracteres minimo
      </label>
    </div>

    <div class="col-span-6 col-start-4 my-4">

      <button class="mr-1 px-5 inline-flex justify-center py-2 items-center border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-400 hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500 ">
        Ingresar
      </button>

    </div>

  </form>



</div>

