
 <!-- Article -->
 <article class="overflow-hidden rounded">

  <a class="cursor-default h-full w-full" >
    <img  src="./assets/file.png" class="h-full w-full"
    type="application/pdf">
  </a>

  <footer class="h-full break-words border-solid">
      <a class="hover:no-underline cursor-default items-center no-underline text-black text-center break-words">
          <p class="text-grey-darker text-sm ">
            {{ documento.created | date: 'dd-MM-YYYY' : 'UTC'  }}
          </p>
          <br>
          <p class="h-auto break-words">
            {{ documento.nameDocument}}
          </p>

      </a>
      <br>
      <hr>

  </footer>

</article>

