
 <!-- Article -->
 <article class="overflow-hidden rounded">

  <a class="cursor-pointer h-full w-full" [routerLink]="['/archivo',documento._id]">
    <img  src="./assets/file3.png" class="h-full w-full"
    type="application/pdf">
  </a>

  <footer class="h-full break-words border-solid">
      <a class="items-center no-underline hover:no-underline text-black text-center cursor-pointer break-words"
      [routerLink]="['/archivo',documento._id]">
          <p class="text-blue-900 text-sm">
            {{ documento.created | date: 'dd-MM-YYYY' : 'UTC'  }}
          </p>
          <br>
          <p class="h-auto break-words text-blue-900">
            {{ documento.nameDocument}}
          </p>
      </a>
      <p (click)="descargar()"
      matTooltip="Descargar documento"
      matTooltipClass="example-tooltip-yellow"
      matTooltipPosition="below"
      class="text-white bg-yellow-500 cursor-pointer hover:bg-yellow-600 hover:no-underline py-2">
      Descargar</p>
  </footer>

</article>

