<div *ngIf="mydata == 'editado'">
  <h1 mat-dialog-title class="text-blue-700 my-4 text-center">¡ Éxito !</h1>
  <div mat-dialog-content class="my-4">Perfil del usuario actualizado satisfactoriamente</div>
  <div mat-dialog-actions class="text-center">
    <button mat-button mat-dialog-close (click)="noClick()" class="px-2 py-2 border-blue-700 bg-blue-500 text-white text-center rounded-md  ">Cerrar</button>
  </div>
</div>


<div *ngIf="mydata == 'creado'">
  <h1 mat-dialog-title class="text-blue-700 my-4 text-center">¡ Éxito !</h1>
  <div mat-dialog-content class="my-4">Documento cargado exitosamente</div>
  <div mat-dialog-actions class="text-center">
  <button mat-button mat-dialog-close (click)="noClick()" class="px-2 py-2 border-blue-700 bg-blue-500 text-white text-center rounded-md  ">Cerrar</button>
  </div>
</div>


<div *ngIf="mydata == 'eliminado'">
  <h1 mat-dialog-title class="text-red-700 my-4 text-center">¡ Éxito !</h1>
  <div mat-dialog-content class="my-4 text-red-600">El Documento fue eliminado definitivamente</div>
  <div mat-dialog-actions class="text-center">
    <button mat-button mat-dialog-close (click)="noClick()" class="px-2 py-2 border-blue-700 bg-blue-500 text-white text-center rounded-md  ">Cerrar</button>
  </div>
</div>
